target/
.env
.env.*
.git/
.idea/
*.iml
.DS_Store
*.log
doc-service-ui
latex-templates
**/node_modules
**/target
**/dist
**/.git
**/.env
**/.env.*
**/.idea
**/*.iml
**/.DS_Store
**/*.log
payment-service/app.py
payment-service/__pycache__
payment-service/*.txt
**/*.py
**/__pycache__